@import url('./reset.css');
@import url('./global.css');

/* INICIO HEADER */
header {
    background-color: var(--cor-backgorund);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        & img {
            width: 80px;
            margin-top: 5px;
            margin-left: 20px;
        }
    }

    & .input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
        
        & img {
            width: 30px;
        }
    }

    & .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        & span {
            text-align: center;
            margin-right: 20px;
            padding: 10px;
            height: 35px;
        }
        & span:hover{
            border-bottom: 1px solid white;
            
        }
        & img {
            width: 30px;
            margin-top: 5px;
        }
    }
}

/* FINAL HEADER */

/* INICIO SECTION */
section {
    & .menu2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-backgorund);

        & .subMenu2 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 100px;
            color: white;

            & img {
                width: 30px;
            }
        }
    }
}

/* FINAL SECTION */

/* INICIO MAIN */
main{

}
/* FINAL MAIN */ 

/* INICIO FOOTER */
footer{
    background-color: var(--cor-backgorund);
& .containerFooter{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    display: flex;
    & .contato, .ofertas, .suporte{
        & ul{
            & li{
                list-style-type: none;
                cursor: pointer;
                margin-top: 5px;
               
                & a{
                    color: white;
                    text-decoration: none;
                }

                & a:hover{
                    transition: 0.8s;
                    border-bottom: 1px solid white;
                }
            } 
            /* Aplicar efeito negrito no primeiro nome de cada lista */
            & li:nth-child(1){
                font-weight: bold;
            } 
            
        }
    }

    & .faleConosco{
        display: flex;
        align-items: center;
        justify-content: right;
        border: 2px solid black;
        
        & .divimg{
            & img{
                width: 30px;
            }
        }
    }
}
}
/* FINAL FOOTER */